@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #fb923c;
    height: 20px;
    border-radius: 12px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: transparent;

}